/* css override */
.page-description {
  font-family: 'Lato', sans-serif;
  color: #242f3a;
}
.page-title{
  color: #9cb443;
  font-family: "Lato", sans-serif;
  letter-spacing: 8px;
}
.post-title, .post-title a {
     font-family: 'Athiti', Thonburi, Tahoma, sans-serif;
     font-weight: 600;
}
.post-content, .post-excerpt p {
    line-height: 1.6em;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    font-family: 'Athiti', Thonburi, Tahoma, sans-serif;
}
.post-header{
    line-height: 1.6em;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    font-family: 'Athiti', Thonburi, Tahoma, sans-serif;
}
.post-excerpt p {
  font-size: 1em;
}
.post-meta{
  font-family: 'Athiti', Thonburi, Tahoma, sans-serif;
  font-size: 1em;
}
body{
  font-family: 'Athiti', Thonburi, Tahoma, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Athiti', Thonburi, Tahoma, sans-serif;
}
h1, h2, h3, h4, h5, h6 > a {
  color: #2E2E2E;
}
h1, h2, h3, h4, h5, h6 > a:hover {
  color: #242f3a;
}
.site-footer .copyright a{
  font-size: 0.9em;
  font-family: 'Lato', sans-serif;
  color: #242f3a;
}
.site-footer {
  font-size: 0.9em;
  font-family: 'Lato', sans-serif;
  color: #242f3a;
}
.main-nav {
  font-family: 'Lato', sans-serif;
}
.main-nav a{
  font-family: 'Lato', sans-serif;
}
pre{
    word-wrap: normal;
    -moz-hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
}
pre code, pre tt {
    white-space: pre;
}
